<div class="container">
  <div class="row col-md-6 col-md-offset-3">
    <h1>Cocktails</h1>
    <div class="card">
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
        <% end %>
      </ul>
    </div>

    <h2><%= link_to 'Add a new cocktail', new_cocktail_path %></h2>
  </div>
</div>
